SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEPLOYER_PRIVATE_KEY=replace_with_new_private_key_do_not_commit
TANIIN_ITEMS_METADATA_URI=ipfs://taniin/items/{id}.json
TANIIN_COIN_CONTRACT_ADDRESS=
TANIIN_LAND_CONTRACT_ADDRESS=
TANIIN_ITEMS_CONTRACT_ADDRESS=
TANIIN_DEFAULT_WALLET_ADDRESS=
TANIIN_MINT_AMOUNT=1000
